.logo {
    width: 20%;
    float: left;
}

.headerli {
    display: inline;
    padding: none;

}

.motto {
    color: lightslategray;
    font-size: 1.5vw;
    width: 30%;
    float: left;
    position: relative;
    top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.contact {
    float: right;
    position: relative;
    text-decoration: none;
    color: lightslategray;
    top: 30px;
    right: 50px;
    width:20%
}

.span {
    position: relative;
    font-size: 1.5vw;
}



#bara_sus {
    background-color: rgb(79, 79, 79);
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.language {
    float: right;
    text-decoration: none;
    color: lightgray;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    top: 10px;
}

.social_media {
    float: right;
    text-decoration: none;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-right: 20px;
}

.social-media-logo {
    height: 100%;
}

.social-media-text {
    position: relative;
    bottom: 12px;
}

@media screen and (max-width: 1150px) {
    .contact {
        top: 20px;
    }

    .span {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 990px) {
    .contact {
        top: 15px;
    }

    .span {
        font-size: 1.6vw;
    }

}


@media screen and (max-width: 750px) {
    .contact {
        top: 10px;
    }

    .span {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 640px) {
    .contact {
        display: none;
    }

    .logo {
        width: 40%;
    }

    .motto {
        width: 60%;
        font-size: 3vw;
        position: relative;
        top: 5px;
        left: 10px;
    }
}

@media screen and (max-width: 535px) {
    .social-media-text {
        display: none;
    }
}

@media screen and (max-width: 319px) {
    .motto {
        top: 0px;
    }

}

