.logo {
    width: 20%;
    float: left;
}

.headerli {
    display: inline;
    padding: none;

}

li a {
    display: inline;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.motto {
    color: lightslategray;
    font-size: 1.5vw;
    width: 30%;
    float: left;
    position: relative;
    top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(1, 54, 88);
    position: fixed;
    top: 140px;
    width: 100%;
    height: 51px;
}

.navli {
    float: left;
    padding: 10px;
    position: relative;
    top: 6px;
}

#last {
    float: right; 
    background-color: rgb(12.4, 145.3, 231.1); 
    height: 51px;
}

#tracking {
    position: relative; 
    bottom: 19px;
}

.contact {
    float: right;
    position: relative;
    text-decoration: none;
    color: lightslategray;
    top: 30px;
    right: 50px;
    width:20%
}

.span {
    position: relative;
    font-size: 1.5vw;
}



#bara_sus {
    background-color: rgb(79, 79, 79);
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.language {
    float: right;
    text-decoration: none;
    color: lightgray;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    top: 10px;
}

.social_media {
    float: right;
    text-decoration: none;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-right: 20px;
}

.social-media-logo {
    height: 100%;
}

.social-media-text {
    position: relative;
    bottom: 12px;
}

#poza-camioane {
    float: right; 
    position: relative; 
    bottom: 50px; 
    padding-right: 50px;
}

#text-principal {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 210px;
    padding: 50px;
    font-size: 15px;
}

p.text, h2 {
    padding: 0 50px;
}



@media screen and (max-width: 1150px) {
    .contact {
        top: 20px;
    }

    .span {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 990px) {
    .contact {
        top: 15px;
    }

    .span {
        font-size: 1.5vw;
    }

}


@media screen and (max-width: 800px) {
    .contact {
        top: 10px;
    }

    .span {
        font-size: 1.4vw;
    }

    .nav {
        height: 243px;
        display: block;
        top: 100px;
    }

    .navli {
        float: none;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    #last {
        float: none;
        text-align: center;
    }

    #tracking {
        width: 100%;
        bottom: 0;
        top: 16px;
    }

    #location {
        display: none;
    }

    #text-principal {
        top: 400px;
        display: block;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    
    #poza-camioane {
        display: block;
        float: none;
        width: 75%;
        margin: 0 10vw;
    }

    h2 {
        display: block;
        padding-bottom: 50px;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .contact {
        display: none;
    }

    .logo {
        width: 40%;
    }

    .motto {
        width: 59%;
        font-size: 3vw;
        position: relative;
        left: 20px;
    }

    .nav {
        top: 125px;
    }
}

@media screen and (max-width: 535px) {
    .social-media-text {
        display: none;
    }
}

@media screen and (max-width: 319px) {
    .motto {
        top: 0px;
    }

}

@media screen and (min-width: 1441px) {
    .nav{
        top: 150px;
    }

}

@media screen and (min-width: 1700px) {
    .nav{
        top: 200px;
    }

}

