.logo {
    width: 20%;
}

.headerli {
    display: inline;
    padding: none;

}

.header {
    list-style-type: none;
}

li a {
    display: inline;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.navli:hover {
    background-color: rgb(4, 128, 206);

}

.motto {
    color: lightslategray;
    font-size: 1.5vw;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 2.5vw;
}

.nav {
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(1, 54, 88);
    height: 51px;
}

.navli {
    float: left;
    padding: 16px;
    position: relative;
}



#last {
    float: right; 
    background-color: rgb(12.4, 145.3, 231.1); 
    height: 51px;
    margin-right: 50px;
}

#tracking {
    position: relative; 
    bottom: 19px;
    padding: 15px;
    font-weight: bold;
}

.contact {
    text-decoration: none;
    color: lightslategray;
    width: 25%;
    float: right;
    position: relative;
    top: 2.5vw;
}

.span {
    position: relative;
    font-size: 1.5vw;
    bottom: 2px;
}



#bara_sus {
    background-color: rgb(79, 79, 79);
    height: 35px;
    margin: 0;
}

body {
    margin: 0;
}

.language {
    float: right;
    text-decoration: none;
    color: lightgray;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    top: 10px;
}

.social_media {
    float: right;
    text-decoration: none;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-right: 20px;
}

.social-media-logo {
    height: 100%;
}

.social-media-text {
    position: relative;
    bottom: 12px;
}

#poza-camioane {
    float: right; 
}

#text-principal {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    font-size: 15px;
}

.column {
    width: 20%;
    height: 150px;
    padding: 18px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 25px;
    float: left;
    text-align: center;
    background-color: rgb(39, 126, 186)
}

#first-column {
    margin-left: 25px;
}

#last-column {
    margin-right: 50px;
}

.column::after {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.detalii {
    color: white;
    padding: 0 10px;
}

.masina {
    width: 15%;
    margin-left: 4%;
}

#clientii-nostri {
    margin: 50px 50px;
}

#coloane {
    width: 100%; 
    margin: 60px 50px 250px 50px;
}

@media screen and (max-width: 1150px) {
    .span {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 990px) {
    .span {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 935px) {
    #location {
        display: none;
    }

    #last {
        font-size: 15px;
    }

    #tracking {
        bottom: 0;
        top: 17px;
    }
}


@media screen and (max-width: 880px) {
    #coloane {
        margin-bottom: 650px;
    }

    .span {
        font-size: 1.4vw;
    }

    .nav {
        height: 243px;
        display: block;
        top: 100px;
        padding-left: 0;
    }

    .navli {
        float: none;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    #last {
        float: none;
        text-align: center;
        width: 100%;
    }

    #tracking {
        bottom: 0;
        top: 16px;
    }

    #location {
        display: none;
    }

    #text-principal {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
    
    #poza-camioane {
        display: block;
        float: none;
        width: 75%;
        margin: 0 10vw;
    }

    .column {
        width: 33%;
        margin-left: 33%;
        margin-right: 33%;
        margin-top: 15px;
    }

    #first-column {
        margin-left: 33%;
    }
    
    #last-column {
        margin-right: 33%;
    }

    #coloane {
        margin-left: 0;
        margin-right: 0;
    }

    #clienti {
        text-align: center;
        position: relative;
        top: 200px;
    }

    #clientii-nostri {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
    .contact {
        display: none;
    }

    .logo {
        width: 40%;
    }

    .motto {
        width: 59%;
        font-size: 3vw;
        position: relative;
        bottom: 5vw;
    }

    .nav {
        top: 125px;
    }
}

@media screen and (max-width: 535px) {
    .social-media-text {
        display: none;
    }
}


@media screen and (min-width: 1441px) {
    .nav{
        top: 150px;
    }

}

@media screen and (min-width: 1700px) {
    .nav{
        top: 200px;
    }

}

